@media screen and (max-width: 769px) {
	body {
		overflow-x: hidden;
	}

	header {
		padding: 0;
	}

	.navButton,
	.screenLogo a,
	.footerButtonContainer,
	.screenLogo-NavButton {
		display: flex;
	}

	.navigationLinks,
	.mainDestinations {
		display: none;
	}

	.indexHeroImageQuote p {
		width: 100%;
		background-color: rgba(0, 0, 0, 0.174);
	}

	.indexHeroImage {
		top: 45%;
	}
}

@media screen and (max-width: 541px) {}

@media screen and (max-width: 426px) {}